[submodule "leaderboard"]
	path = leaderboard
	url = git@github.com:Kin-Zhang/leaderboard.git
[submodule "scenario_runner"]
	path = scenario_runner
	url = git@github.com:Kin-Zhang/scenario_runner.git
