absl-py==0.9.0
antlr4-python3-runtime==4.8
argh==0.26.2
astunparse==1.6.3
atari-py==0.2.6
autopep8==1.5.4
backcall==0.2.0
blinker==1.4
box2d-py==2.3.8
brotlipy==0.7.0
cachetools==4.1.0
carla==0.9.11
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
configparser==5.0.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
dictor==0.1.7
dm-control==0.0.312466143
dm-env==1.2
dm-tree==0.1.5
docker-pycreds==0.4.0
ephem==3.7.7.1
fsspec==0.8.4
future==0.18.2
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.7
glfw==1.11.2
google-auth-oauthlib==0.4.1
google-auth==1.16.1
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
gym==0.17.2
h5py==2.10.0
hydra-core==1.0.3
idna==2.10
imageio-ffmpeg==0.4.2
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.17.0
jedi==0.17.2
jupyter-client==6.1.6
jupyter-core==4.6.3
keras-preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.5.1
markdown==3.2.2
matplotlib==3.3.1
moviepy==1.0.1
mpi4py==3.0.3
networkx==2.4
numpy==1.19.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.2
opencv-python==4.5.1.48
opt-einsum==3.2.1
packaging==20.4
pandas==1.1.0
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.2.2
proglog==0.1.9
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.4
psutil==5.7.2
ptyprocess==0.6.0
py-trees==0.8.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydot==1.4.1
pygame==1.9.6
pygccxml==2.0.1
pyglet==1.5.0
pygments==2.6.1
pyjwt==1.7.1
pyopengl==3.1.5
pyopenssl==19.1.0
pyparsing==2.4.7
pyplusplus==1.8.4
pysocks==1.7.1
python-dateutil==2.8.1
pytorch-lightning==1.0.3
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.1
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.0
scikit-image==0.17.2
scipy==1.4.1
sentry-sdk==0.16.5
setuptools==49.6.0.post20200814
shapely==1.7.0
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
stable-baselines3==0.8.0
subprocess32==3.5.4
tabulate==0.8.7
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.1
tensorflow-estimator==2.2.0
tensorflow==2.2.0
termcolor==1.1.0
tifffile==2020.10.1
toml==0.10.1
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.10
wandb==0.10.12
watchdog==0.10.3
wcwidth==0.2.5
werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1
zipp==3.1.0